.sp_fhvpwdkuvQO_2x{background-image:url(/rsrc.php/v3/y2/r/OpDX44_t-Gx.png);background-size:21px 21px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_fhvpwdkuvQO_2x.sx_84e862{background-position:0 0}

#bootloader_0hqRB{height:42px;}.bootloader_0hqRB{display:block!important;}